version: 2.1
orbs:
  node: circleci/node@2.1.0
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: yarn install
            # - run: npm test
            - run: yarn build
            - run: yarn dist
            - run:
                name: Installing deployment dependencies
                command: |
                  sudo apt-get -y -qq update
                  sudo apt-get install python-pip python-dev build-essential
                  sudo pip install --upgrade setuptools
                  sudo pip install awsebcli --upgrade
            - run:
                name: Deploying
                command: eb deploy SciMapApi-production

workflows:
  build-and-test:
    jobs:
      - build-and-test:
          context: aws
          filters:
            branches:
              only:
                - master
# version: 2.1
# orbs:
#   node: circleci/node@2.1.0
# jobs:
#   build-and-test:
#     executor:
#       name: node/default
#     steps:
#       - checkout
#       - run:
#           command: yarn install --freeze-lockfile
#       - save_cache:
#           key: dependency-cache-{{ checksum "yarn.lock" }}
#           paths:
#             - ./node_modules
#       # - run:
#       #     command: yarn test
#   deploy:
#     # working_directory: ~/app
#     executor:
#       name: node/default
#     steps:
#       - checkout
#       - run:
#           name: Installing deployment dependencies
#           working_directory: /
#           command: |
#             sudo apt-get -y -qq update
#             sudo apt-get install python-pip python-dev build-essential
#             sudo pip install --upgrade setuptools
#             sudo pip install awsebcli --upgrade
#       - run:
#           name: Deploying
#           command: eb deploy SciMapApi-env
# workflows:
#   build-and-test:
#     jobs:
#       - build-and-test
#       - deploy:
#           filters:
#             branches:
#               only:
#                 # - staging
#                 - master
