/**
 * This empty css file is a workaround for https://github.com/zeit/next-plugins/issues/282
 * Can be removed after that issue is fixed.
 */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#homeHeader {
  /* background-color: #f9f8fb; */
  background-color: white;
  /* Change path color, size (zoom in pattern or not) and path opacity in the svg file */
  background-image: url(/static/topography_bg.svg);
}
