.multi-select {
  --rmsc-main: #4285f4;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: rgb(226, 232, 240) !important;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px !important; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 38px !important; /* Height */
}
